<head>
<title>Transportation Study Application</title>
<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css" media="screen" />
</head>

<body>
<button type="button" id="update">GO!</button> Click here to update <br>
Your normal travel time is <input type="text" id="dtext"> minutes <br>
If you leave now, your travel time will be <input type="text" id="dtext"> minutes <br>

If you leave in <select class="element select medium" id="element_1" name="element_1"> 
<option value="" selected="selected"></option>
<option value="1" >5 Minutes</option>
<option value="2" >10 Minutes</option>
<option value="3" >15 Minues</option>

</select> your travel time will be <input type="text" id="dtext"> minutes <br>
<br>
<br>
<button type="button">Settings</button>
		
</body>
</html>
